*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none; 

}
body{

    height: 100vh;
    background-color: #93d9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.caja{

    display: flex;
    background-color: #fff;
    flex-direction: column;
    height: 480px;
    margin: 15px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 6px 10px #717171;
    justify-content: space-between;

}


.caja h1{

    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    

}

.caja p{

    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;

}

.caja p:nth-child(2){
    margin-top: 60px
}

.subcaja{

    justify-content: center;
    background-color: #fa8071;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
    font-size: 12px;


}



button{

    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    width: 120px;
    margin-top: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;


}