*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none; 

}

@font-face {
    font-family: fuenteTitulo;
    src: url(/storage/fuentes/coolvetica\ rg.otf);
}

@font-face {
    font-family: fuenteParrafo;
    src: url(/storage/fuentes/Roboto-Condensed.ttf);
}


.container{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #BBBB;

}

.caja{

    display: flex;
    flex-direction: column;
    width:auto;
    height: auto;
    padding: 20px;
    background-color: #e4e1e1;
    border-radius: 5px
}

.caja p{

    width: 30vw;
    font-family: fuenteParrafo;
    font-size: 20px
}

.caja h1{

    padding-bottom: 10px;
    font-family: fuenteTitulo;
    font-size: 40px;

}