
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none
}
body{

    display: flex;
    height: 100vh;
}

/* lado izquierdo de la pagina */

.left{

    flex: 1;
    height: 100%;
    background-color: #fff;
}


.titulo img{

    width: 50px;
    height: 40px;
    padding-left: 9px;
    


}
.titulo{

    display: flex;
    align-items: center;
    font-size: 15px;
    height: 40px;
    color: #3182f2;
    margin: 15px 8px 8px 8px;
    gap: 15px

}

.cajaGrandeDashboard{

    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dashboard img{

    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 5px;
}

.dashboard{
    background-color: #1775f1;
    padding: 10px;
    border-radius: 10px;
    width: 260px;
    margin: 6px;
    font-size: 8px;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    margin-top: 20px;
    gap: 10px;
    transition: 0.3s ease;
    cursor: pointer;
    
}



.item{

    padding: 10px;
    border-radius: 10px;
    width: 260px;
    margin: 6px;
    font-size: 9px;
    display: flex;
    justify-content: flex-start;
    color: #000;
    gap: 10px;
    cursor: pointer
}


.item:hover{
    background-color: #bbb;
    transition: 0.3s ease;
}



.item img{

    width: 20px;
    height: 20px;
}

.item p{

    font-size: 15px;
}



.right{

    flex: 6;
    height: 100%;
    background-color: rgb(211, 208, 208);
    display: flex;
}

.fila1{

    display: flex;
    justify-content: flex-start;
    padding: 8px 10px;

}

.fila2{

    padding-top: 0px
}

.MAIN{

    display: flex;
    align-items: center;
    flex-direction: column;
    color: #8a8a8a
    
}

.MAIN b:first-child{

    display: flex;
    width: 100%;
    padding: 20px 20px 0px 20px;
    color: #8a8a8a

}